<%- include("header.ejs") -%> 
<div id="list">


<h1>
    Developers currently working in the company along with their managers.
</h1>
<a href="http://localhost:3000/listJSON">In JSON Format</a>
<table>
    <tr class="tr-head">
        <td>DEV ID</td>
        <td>DEV Name</td>
        <td>Managed By</td>
    </tr>
    <tr>
        <td><%= listID1 %></td>
        <td><%= listDevName1 %></td>
        <td><%= listManName1 %></td>
    </tr>
    <tr>
        <td><%= listID2 %></td>
        <td><%= listDevName2 %></td>
        <td><%= listManName2 %></td>
    </tr>
    <tr>
        <td><%= listID3 %></td>
        <td><%= listDevName3 %></td>
        <td><%= listManName3 %></td>
    </tr>
    <tr>
        <td><%= listID4 %></td>
        <td><%= listDevName4 %></td>
        <td><%= listManName4 %></td>
    </tr>
    <tr>
        <td><%= listID5 %></td>
        <td><%= listDevName5 %></td>
        <td><%= listManName5 %></td>
    </tr>
    <tr>
        <td><%= listID6 %></td>
        <td><%= listDevName6 %></td>
        <td><%= listManName6 %></td>
    </tr>
    <tr>
        <td><%= listID7 %></td>
        <td><%= listDevName7 %></td>
        <td><%= listManName7 %></td>
    </tr>
    <tr>
        <td><%= listID8 %></td>
        <td><%= listDevName8 %></td>
        <td><%= listManName8 %></td>
    </tr>
    <tr>
        <td><%= listID9 %></td>
        <td><%= listDevName9 %></td>
        <td><%= listManName9 %></td>
    </tr>
    <tr>
        <td><%= listID10 %></td>
        <td><%= listDevName10 %></td>
        <td><%= listManName10 %></td>
    </tr>
    <tr>
        <td><%= listID11 %></td>
        <td><%= listDevName11 %></td>
        <td><%= listManName11 %></td>
    </tr>
    <tr>
        <td><%= listID12 %></td>
        <td><%= listDevName12 %></td>
        <td><%= listManName12 %></td>
    </tr>
    <tr>
        <td><%= listID13 %></td>
        <td><%= listDevName13 %></td>
        <td><%= listManName13 %></td>
    </tr>

    <!-- <tr>
        <td> %= listID14 %></td>
        <td> %= listDevName14 %></td>
        <td> %= listManName14 %></td>
    </tr> -->

</table>
</div>







<%- include("footer.ejs") -%> 